body{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    align-content: center;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
}
header img{
    display: flex;
    width: 20%;
    margin: 5px 10px;
    align-items: end;
}
header section{
    display: flex;
    flex-direction: column;
}
header h1,header h2{
    flex-basis: 100%;
    display: flex;
}
nav{
    flex-basis: 100%;
}
ul{
    display: flex;
    justify-content: space-around;
}
li{
    display: flex;
    align-items: center;
}
main{
    display: flex;
    align-items: center;
    flex-basis: 100%;
    
}
main img{
    height: auto;
    flex-basis: 30%;
}
main section{

    flex-basis: 70%; 
}
aside{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 0px 3em 0px 3em;
}
h3{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}
h4{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 0px;
}
aside img{
    width: 80%;
}