header section{
    padding: 10px;
}
header img{
    border-radius: 2em;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
    font-size: 1.2em;
    height: 2em;
    width: max-content;
}
nav{
    background-color: #131862;
    border: 2px solid black;
    border-radius: 1em;
    margin: 10px 50px;
}
main>img{
    height: 10em;
    max-width: 20%;
}
ul{
    padding: 0px;
}
aside{
    border: 1.5px solid black;
    height: max-content;
    
}
footer{
    background-image: url(../img/Footer.png);
    background-position: center;
    height: 20em;
    width: 100%;
}
header{
    background-image: url(../img/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    background-size: cover;
    background-position: center;
    padding: 0px 0px 10px 0px;
}
h1{color: darkorange}
header h2{color:rgb(202, 86, 144)}