nav ul,aside footer  {
    display: flex;
    flex-wrap: nowrap;
}
nav li{
    display: flex;
    flex-wrap: wrap ;
}
nav{
    flex-basis: 100%;
    margin: 12px;
}
body{
    display: flex;
    flex-wrap: wrap;
}
article > article{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    margin: 14px;
}
header,body>footer{
    flex-basis: 100%;
}
main{
    flex-basis: 75%;
}
aside{
    display: flex;
    flex-wrap: wrap;
    margin: 12Px;
    padding: 12px;
    flex-basis: 20%;
}
h2{
    flex-basis: 100%;
}
#contact{
    width: auto;
    height: 2em;
}
aside footer section{
    padding: 0px 10px;
    height: max-content;
}
article img{
    width: auto;
    height: 100%;
}
article section{
    flex-grow: 1;
    margin: 5px;
    padding: 16px;
    flex-basis: 55%;
}
aside li{
    width: 8em;
    display: flex;
    padding: 1px 5px;
}
aside ul{
    padding: 4px;
}
aside footer{
    align-items: center;
    padding: 10px 2em 10px 2em;
    width: auto;
    flex-basis: 100%;
}
h4,aside footer p{
    margin:0px;
}
main{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
h1{
    width: max-content;
    height: max-content;
}
main img{
    height: 20em;
}