nav ul,aside footer  {
    display: flex;
    flex-wrap: nowrap;
}
main{
    display: flex;
    margin: 10px;
}
main section{
    flex-basis: 70%;
    margin: 5px;
    padding: 5px;
}
nav li{
    display: flex;
    flex-wrap: wrap ;
    height: max-content;
}
nav{
    flex-basis: 100%;
    margin: 12px;
}
body{
    display: flex;
    flex-wrap: wrap;
}
header,body>footer{
    flex-basis: 100%;
}
main{
    flex-basis: 75%;
    height: max-content;
}
aside{
    display: flex;
    flex-wrap: wrap;
    margin: 12Px;
    padding: 12px;
    flex-basis: 20%;
}
h2{
    flex-basis: 100%;
}
#contact{
    width: auto;
    height: 2em;
}
aside footer section{
    padding: 0px 10px;
    height: max-content;
}
aside li{
    width: 8em;
    display: flex;
    padding: 1px 5px;
}
aside ul{
    padding: 4px;
}
aside footer{
    align-items: center;
    padding: 10px 2em 10px 2em;
    width: auto;
    flex-basis: 100%;
}
h4,aside footer p{
    margin:0px;
}
main img{
    height: 40em;
}