body,li{
    display: flex;
    flex-wrap: wrap;
}
aside{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 20%;
    margin: 12Px;
    padding: 12px;
}
footer{
    display: flex;
    flex-wrap: nowrap;
}
nav ul{
    display: flex;
    padding: 10px;
}
header{
    flex-basis: 100%;
}
nav{
    flex-basis: 100%;
    margin: 12px;
}
main{
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 75%;
    margin: 10px;
}

main img{
    width: 25%;
}
#contact{
    width: auto;
    height: 2em;
}
article{
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4px;
    padding: 12px;
}
article h1{
    width: max-content;
    height: max-content;
}

aside h2{
    flex-basis: 100%;
}
footer{
    flex-basis: 100%;
}
aside footer section{
    padding: 0px 10px;
    height: max-content;
}
aside footer{
    align-items: center;
    padding: 10px 2em 10px 2em;
    width: auto;
}
aside li{
    width: 8em;
    padding: 1px 5px;
    
}
h4,aside footer p{
    margin:0px;
}
aside ul{
    margin: 0px;
}
aside img{
    padding: 0px 10px 0px 0px;
}