body{
    margin: 0px;
    padding: 0px;
}
header>img{
    width: 100%;
    height: 10em;

}
nav li{
    justify-content: center;
    width: 100%;
}
li{
    list-style: none;
    border: 1px solid black;
    align-items: center;
    height: 1.5em;
    background-color: grey;
}
aside{
    border: 1px solid black;
    height: max-content;
    background-color: grey;
}

footer{
    background-color: grey;
    margin: 0px;
    padding: 0px;
}
nav a{
    text-decoration: none;
    color: white;
}
aside a {
    text-decoration: none;
    color: black;
}
#Netflix a{
    color: red;
}
p,h4{
    font: 1em "Comic Sans MS", sans-serif;
}
h1{
    font: 2em "Comic Sans MS", "Comic Sans", cursive;
}
h2{
    font:1.8em "Comic Sans MS", "Comic Sans", cursive;
    margin: 2px;
}
h3{
    font:1.6em "Comic Sans MS", "Comic Sans", cursive;
}

main img{
    border-radius: 8px;
}
body{
    background-color: #5e5e5e;
}
aside footer{
    border-radius: 8px;
}
footer img{
    width: 100%;
}